html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body {
    width: 100vw;
    height: 100vh;
}

#root,
#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: tomato;
    /* pointer-events: none; */
}

#controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
    margin: 1rem 1rem 0rem 1rem;
    border: 1px solid black;
    background-color: teal;
}

#controls button {
    cursor: pointer;
    padding: .2rem .4rem;
    border-radius: .2rem;
    border: 2px solid black;
    background-color: white;
}

#controls input[id=circles] {
    width: 3rem;
    margin-left: .3rem;
    padding: .2rem .4rem;
    border-radius: .2rem;
    border: 2px solid black;
}

#controls button {
    margin: 0 .3rem;
}

#controls input[id=speed] {
    margin-left: .3rem;
    cursor: pointer;
}

#controls label,
#controls button,
#controls input {
    margin-top: .3rem;
    margin-bottom: .3rem;
    margin-left: .3rem;
}

#board {
    position: relative;
    flex-grow: 1;
    margin: 1rem;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

#board .circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    opacity: .85;
}